@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans'), local('OpenSans'), url(../../assets/fonts/OpenSans-Light.ttf) format('truetype')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../../assets/fonts/OpenSans-Regular.ttf) format('truetype')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), local('OpenSans'), url(../../assets/fonts/OpenSans-SemiBold.ttf) format('truetype')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans'), local('OpenSans'), url(../../assets/fonts/OpenSans-Bold.ttf) format('truetype')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans'), local('OpenSans'), url(../../assets/fonts/OpenSans-ExtraBold.ttf) format('truetype')
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Flexo', 'Open Sans',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
