$sidebar-width: 80px;
$header-height: 45px;
$header-color: #fff;
$sidebar-color: #333;
$font-light: #a1a1a1;
$font-darken-white: #f5f5f5;
$light-gray: #545454;
$main-green: #73C06B;
$table-width: 95%;
